{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}
 {% block body %}    
    <body class="page-id-1 socialr" id="faqs-page">
    {% endblock %}
{% block content %}
<div class="in-sec1" id="insec1-2">
		 	<div class="">
		 		
		 		<div class="cont-banner">
		 			<img src="{{ asset('img/faqs_banner.png') }}" alt="" class="img-responsive"  style="width:100%;">
		 		</div>
		 		
		 	</div>
		</div>	


		<div class="in-sec8">
			<div class="in-sec">
				<div class="title-blue-panel">
					<h2>About Participating </h2>
				</div>
				<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          What does kulashare™ mean?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      	<div class="panel-body">
					        <p>kulashare™ is a sharing (collaborative) economy business platform.  We have created it to support and enable individuals to rent and borrow from one another.  We believe that if people in close proximity to engage in these kinds of helpful, mutually beneficial, safe, and convenient exchanges we will begin to build stronger communities. And when we build stronger communities, we, the people, have more access to goods and services we need, we become more trusting of one another and we have richer, more fortified lives. #peoplerock</p>
					      
					     	<p>The sharing economy, if you read about it, is about many things; but it is especially concerned with putting idle resources to use for mutual benefit. I have a drill and you don’t, I’ll rent mine to you so you have access to a drill.  Or, you have a truck, and I need a truck to pick up some lumber I ordered.  I rent your truck so I can do the pickup and delivery.</p> 
					 	
					     	<p>The sharing economy works when people are willing to share what they have. There are many examples of people making a satisfying living out of doing this full time!  While it is cool that this occurs, it is not why we created kulashare™</p>
						</div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				        What does it mean to be “kula” ?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				       kulashare™ (“kula” means community in Sanskrit) works in a democratic sort of way.  We Are the Sharing Economy.  The platform is about us, it is for us, and it is evolved by us.  Every member has a role to play in building and maintaining our standards of respect, acknowledgment, and recognition. We will be as strong and as successful as each member allows us to be.  

				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				         How much time will it take to get set up? 
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        <p>The platform exists so that those who choose to rent items can make money and those who want to borrow can save time and money. When this activity happens on a big scale, communities are built up and strengthened. Other collaborative ideas for sharing may arise.  And once that starts happening, these individual transactions are what starts to change your community and change the world. </p>
 						<p>Join our community forum where you can engage in discussion, find definitions, best practices, articles from elsewhere on the internet, and news from other kulashare™ members. </p> 

				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading4">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
				          Do I have to register in order to rent/lend? 
				        </a>
				      </h4>
				    </div>
				    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
				      <div class="panel-body">
				        Yes we have 24/7  “contact full-time customer support.”
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading5">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
				        Is there a cost for adding more listings or for using multiple social media accounts?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
				      <div class="panel-body">
				        No, and no.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading6">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
				        How do I get verified?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
				      <div class="panel-body">
				       We subscribe to a third party service that will verify your bank account and credit information
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading7">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
				        Why is there a 15% fee for lenders?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
				      <div class="panel-body">
				      This is the fee we charge for providing the kulashare™ platform. It goes to pay kulashare™ employees and allows us to evolve the kulashare™ business and community services.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading8">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
				        How does the Shared risk pool affect me?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
				      <div class="panel-body">
				      In the event of a loss or damage, the kulashare™ 2.5% Shared Risk Pool (SRP) allows the sharing economy to mitigate some or all of the risk involved in lending business and personal assets for profit or charity. It is created for the sole purpose of benefiting the community. Both parties benefit. The lender and the borrower. It inexpensively helps businesses maximize profits without risking the entire value of their underutilized assets and promotes honesty and integrity among the entire sharing community. We are more than a community. We are a society.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading9">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
				        What is the Sharing Economy?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
				      <div class="panel-body">
				    <a href="http://www.thepeoplewhoshare.com/blog/what-is-the-sharing-economy/" class="in-flink">  http://www.thepeoplewhoshare.com/blog/what-is-the-sharing-economy/</a> The Sharing Economy is a socio-economic ecosystem built around the sharing of human and physical resources. It includes the sharedcreation, production, distribution, trade and consumption of goods and services by different people and organisations.
				      <br>
				      <br>
				      <a href="http://en.wikipedia.org/wiki/Sharing_economy" class="in-flink">
				      http://en.wikipedia.org/wiki/Sharing_economy </a> <strong>Collaborative consumption as a phenomenon is a class of economic arrangements in which participants share access to products or services, rather than having individual ownership.</strong>
				      </div>
				    </div>
				  </div>
				</div><!-- /#accordion1 -->

				<div class="title-blue-panel">
					<h2>About Lending Items </h2>
				</div>

				<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading10">
					    <h4 class="panel-title">
					      <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
					        What does kulashare™ mean?
					      </a>
					    </h4>
					  </div>
					  <div id="collapse10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading10">
					    <div class="panel-body">
					    <p>kulashare™ is a sharing (collaborative) economy business platform.  We have created it to support and enable individuals to rent and borrow from one another.  We believe that if people in close proximity to engage in these kinds of helpful, mutually beneficial, safe, and convenient exchanges we will begin to build stronger communities. And when we build stronger communities, we, the people, have more access to goods and services we need, we become more trusting of one another and we have richer, more fortified lives. #peoplerock</p>
					      
					     	<p>The sharing economy, if you read about it, is about many things; but it is especially concerned with putting idle resources to use for mutual benefit. I have a drill and you don’t, I’ll rent mine to you so you have access to a drill.  Or, you have a truck, and I need a truck to pick up some lumber I ordered.  I rent your truck so I can do the pickup and delivery.</p> 
					 	
					     	<p>The sharing economy works when people are willing to share what they have. There are many examples of people making a satisfying living out of doing this full time!  While it is cool that this occurs, it is not why we created kulashare™</p>
					    </div>
					  </div>
					</div> <!-- panel panel-default -->
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading11">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
					      What does it mean to be “kula” ?
					      </a>
					    </h4>
					  </div>
					  <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
					    <div class="panel-body">
					      kulashare™ (“kula” means community in Sanskrit) works in a democratic sort of way.  We Are the Sharing Economy.  The platform is about us, it is for us, and it is evolved by us.  Every member has a role to play in building and maintaining our standards of respect, acknowledgment, and recognition. We will be as strong and as successful as each member allows us to be.  
					    </div>
					  </div>
					</div><!-- panel panel-default -->
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading12">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
					       How much time will it take to get set up? 
					      </a>
					    </h4>
					  </div>
					  <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
					    <div class="panel-body">
					      <p>The platform exists so that those who choose to rent items can make money and those who want to borrow can save time and money. When this activity happens on a big scale, communities are built up and strengthened. Other collaborative ideas for sharing may arise.  And once that starts happening, these individual transactions are what starts to change your community and change the world. </p>
 						<p>Join our community forum where you can engage in discussion, find definitions, best practices, articles from elsewhere on the internet, and news from other kulashare™ members. </p> 
					    </div>
					  </div>
					</div><!-- panel panel-default -->
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading13">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
					       Do I have to register in order to rent/lend?  
					      </a>
					    </h4>
					  </div>
					  <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
					    <div class="panel-body">
					        Yes we have 24/7  “contact full-time customer support.”
					    </div>
					  </div>
					</div><!-- panel panel-default -->


					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading14">
					      <h4 class="panel-title">
					        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
					        Is there a cost for adding more listings or for using multiple social media accounts?
					        </a>
					      </h4>
					    </div>
					    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
					      <div class="panel-body">
					        No, and no.
					      </div>
					    </div>
					  </div><!-- panel panel-default -->
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading15">
					      <h4 class="panel-title">
					        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
					        How do I get verified?
					        </a>
					      </h4>
					    </div>
					    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
					      <div class="panel-body">
					       We subscribe to a third party service that will verify your bank account and credit information
					      </div>
					    </div>
					  </div><!-- panel panel-default -->
					  <div class="panel panel-default">
					      <div class="panel-heading" role="tab" id="heading16">
					        <h4 class="panel-title">
					          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
					          Why is there a 15% fee for lenders?
					          </a>
					        </h4>
					      </div>
					      <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
					        <div class="panel-body">
					        This is the fee we charge for providing the kulashare™ platform. It goes to pay kulashare™ employees and allows us to evolve the kulashare™ business and community services.
					        </div>
					      </div>
					   </div><!-- panel panel-default -->
					   <div class="panel panel-default">
					     <div class="panel-heading" role="tab" id="heading17">
					       <h4 class="panel-title">
					         <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
					         How does the Shared risk pool affect me?
					         </a>
					       </h4>
					     </div>
					     <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
					       <div class="panel-body">
					       In the event of a loss or damage, the kulashare™ 2.5% Shared Risk Pool (SRP) allows the sharing economy to mitigate some or all of the risk involved in lending business and personal assets for profit or charity. It is created for the sole purpose of benefiting the community. Both parties benefit. The lender and the borrower. It inexpensively helps businesses maximize profits without risking the entire value of their underutilized assets and promotes honesty and integrity among the entire sharing community. We are more than a community. We are a society.
					       </div>
					     </div>
					   </div><!-- panel panel-default -->

					   <div class="panel panel-default">
					     <div class="panel-heading" role="tab" id="heading19">
					       <h4 class="panel-title">
					         <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
					         What is the Sharing Economy?
					         </a>
					       </h4>
					     </div>
					     <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
					       <div class="panel-body">
					     <a href="http://www.thepeoplewhoshare.com/blog/what-is-the-sharing-economy/" class="in-flink">  http://www.thepeoplewhoshare.com/blog/what-is-the-sharing-economy/</a> The Sharing Economy is a socio-economic ecosystem built around the sharing of human and physical resources. It includes the sharedcreation, production, distribution, trade and consumption of goods and services by different people and organisations.
					       <br>
					       <br>
					       <a href="http://en.wikipedia.org/wiki/Sharing_economy" class="in-flink">
					       http://en.wikipedia.org/wiki/Sharing_economy </a> <strong>Collaborative consumption as a phenomenon is a class of economic arrangements in which participants share access to products or services, rather than having individual ownership.</strong>
					       </div>
					     </div>
					   </div><!-- panel panel-default -->


				</div> <!-- /#accordion2 -->
				<div class="title-blue-panel" id="title_accordion3">
					<h2 class="hidden-xs">About Borrowing Items </h2>
					<h2 class="visible-xs">About Borrowing <br>Items </h2>
				</div>	
				
				<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading20">
					    <h4 class="panel-title">
					      <a data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
					        What do I do if someone rates me poorly and I want to respond to that or to defend myself?
					      </a>
					    </h4>
					  </div>
					  <div id="collapse20" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading20">
					    <div class="panel-body">
					      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					    </div>
					  </div>
					</div> <!-- panel panel-default -->
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading21">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
					      How do I know that this is safe for me to use my credit card to pay for something?
					      </a>
					    </h4>
					  </div>
					  <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
					    <div class="panel-body">
					      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					    </div>
					  </div>
					</div><!-- panel panel-default -->
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading22">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
					      Do you collect a deposit amount on the item I want to rent?
					      </a>
					    </h4>
					  </div>
					  <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
					    <div class="panel-body">
					      It is up to the person who is lending an item as to whether or not they will require a deposit.  For expensive items, this is a prudent thing to do , and typically, the deposit can be double the rental amount, or 125% of the rental amount.   The deposit is usually NOT the market value of the item
					    </div>
					  </div>
					</div><!-- panel panel-default -->
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading23">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
					      Do I have to go pick up the item personally?  What if it is located very far from where I live or work?
					      </a>
					    </h4>
					  </div>
					  <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23">
					    <div class="panel-body">
					        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ex est expedita minima unde sint, delectus, nam totam adipisci cupiditate magnam numquam vero beatae natus atque rerum explicabo veritatis vel.
					    </div>
					  </div>
					</div><!-- panel panel-default -->


					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading24">
					      <h4 class="panel-title">
					        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapse24">
					       What if I need to keep something for a longer period of time than I initially agreed upon?  Can I extend the time?
					        </a>
					      </h4>
					    </div>
					    <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading24">
					      <div class="panel-body">
					        This type of timing problem may occur.  There are two things you MUST do if you want to extend a rental:  1.  check the calendar of availability for the item to make sure that no one has claimed the right to use the item on your extension days.  2.  Message the lender / call the lender and ask for permission to adjust the duration of the rental, understanding that the rental fee will likely go up to cover the extended period of time.  Ok the new terms, pay for the extra days, and return the item when you say you will.
					      </div>
					    </div>
					  </div><!-- panel panel-default -->


				</div> <!-- /#accordion3 -->
				<div class="title-blue-panel" id="title_accordion4">
					<h2 class="hidden-xs">Insurance Coverage questions</h2>
					<h2 class="visible-xs">Insurance Coverage <br>questions</h2>

				</div>	

				<div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="false">
					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="heading26">
					    <h4 class="panel-title">
					      <a data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapse26">
					       Does my homeowners insurance cover the items I am going to rent?  Or, does my credit card cover any items?
					      </a>
					    </h4>
					  </div>
					  <div id="collapse26" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading26">
					    <div class="panel-body">
					      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ducimus suscipit quaerat autem sit! Culpa autem voluptate soluta, recusandae veritatis, omnis libero, sit dolorem perspiciatis earum amet consectetur modi maiores?
					    </div>
					  </div>
					</div> <!-- panel panel-default -->
					<div class="panel panel-default">
					  
					   <div class="panel-heading" role="tab" id="heading27">
					  <h4 class="panel-title" >
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="true" aria-controls="collapse27">
					      Does kulashare have insurance coverage for the lending activity that is occurring?  If so, how does that work?
					      </a>
					    </h4>

					  </div>
						
					  <div id="collapse27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading27">
					    <div class="panel-body">
					      Insurance -- here is something you should ask your credit card company about.  Ask your homeowners insurer about  x, y,  z.
					    </div>
					  </div>
					</div><!-- panel panel-default -->


				</div> <!-- /#accordion4 -->	
				
				
			</div> <!-- /.in-sec -->
		</div> <!-- /.in-sec8 -->
		<div class="in-sec8" id="insec8-2">
			<div class="in-sec">
					<div class="cont-li">
						<div class="col-sm-3" id="img-left">
							<img src="{{ asset('img/li_circ1.png') }}" alt="" class="img-responsive">
						</div>
						<div class="col-sm-9" id="text-li">
							<p id="p1">Lender Guarantee</p>
							<p id="p2">  Your property is covered for up to </p>
							<p><a class="in-flink" href="#">Learn more about the Lender Protection Policies »</a></p>
						</div>	
					</div>
					<div class="cont-li ">
						<div class="col-sm-3" id="img-left">
							<img src="{{ asset('img/li_circ2.png') }}" alt="" class="img-responsive">
						</div>
						<div class="col-sm-9" id="text-li">
							<p id="p1">Check out our Help Center</p>
														<p id="p2">  Look through our HOW IT WORKS pages to learn more. </p>
														<p><a class="in-flink" href="#">Visit our FAQ pages »</a></p>
						</div>	
					</div>
					<div class="cont-li">
						<div class="col-sm-3" id="img-left">
							<img src="{{ asset('img/li_circ3.png') }}" alt="" class="img-responsive">
						</div>
						<div class="col-sm-9" id="text-li">
							<p id="p1">Visit the Safety Portal</p>
														<p id="p2">  Your safety is our number one concern.</p>
														<p><a class="in-flink" href="#">Learn more at our Safety First ______»</a></p>
						</div>	
					</div>
					<p style="margin-left:0;">
						Impact meter/counter to indicate how <a href="#" class="in-flink">kulashare&trade;</a> is benefiting Social Responsibility. <br>
Non-profit/Charitable organizations borrowing items from lenders who donate them (they get tax benefit).
					</p>
			</div>
		</div>
		{% endblock %}